# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

venv/
.env

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# ML Models
*.pt
*.pth

# =========================
# DATASETS (REMOVE)
# =========================
*.csv
*.xlsx
*.json

# =========================
# MEDIA (REMOVE)
# =========================
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov

# =========================
# MODELS
# =========================
*.pkl
*.joblib
*.h5

# =========================
# LOGS / TEMP
# =========================
*.log
~$*

# =========================
# BUILD / CACHE
# =========================
.cache/
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/